.supplier-stage {
    border: 2px solid #000;
}
.supplier-title {
    padding-top: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #000;
    background: rgb(221, 235, 247);
}
.supplier-table {
    margin-top: 35px;
}
.supplier-form {
    padding: 25px 45px 0 45px;
}
.btn-search {
    padding: 5px 40px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
}
.btn-search:hover {
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
    cursor: pointer;
}
/* .table, th, td {
    border: 1px solid black;
}
 */
.table thead {
    border: 2px solid black;
    background: rgb(221, 235, 247);
}
.table tbody {
    border: 2px solid black;
}
.table thead th {
    border-bottom: 2px solid black !important;
}
.btn-right {
    float: right;
}
.btn-search {    
    cursor: -webkit-grab;
    cursor: grab;
}
.date-supplier {
    width: 200px;
}