.purchase-search {
    border: 2px solid #000;
}
.purchase-stage {
    margin-top: 25px;
    border: 2px solid #000;
}
.purchase-table {
    margin-top: 35px;
}
.purchase-table-search {
    margin-top: 55px;
}
.purchase-title {
    padding-top: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #000;
    background: rgb(221, 235, 247);
}
.purchase-form {
    padding: 15px 45px 0 45px;
}
.btn-right {
    float: right;
}
.btn-search-today {
    padding: 5px 40px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
}
.btn-search-today:hover {
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
}
.btn-search-from-to {
    padding: 5px 20px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
}
.btn-search-from-to:hover {
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
}
.btn-send-purchase, .btn-download {    
    padding: 5px 20px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
}
.btn-download:hover {   
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
}
.btn-send-purchase:hover { 
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
}
.btn-search {
    padding: 10px 50px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
}
.btn-search:hover {
    text-decoration: none;
    color: #000;
    background: #BBBBBB;
}
.table thead{
    border: 2px solid black;
    background: rgb(221, 235, 247);
}
.table tbody{
    border: 2px solid black;
}
.table thead th{
    border-bottom: 2px solid black !important;
}
.btn-search-today, .btn-search-from-to, .btn-search, .send-list-purchase, .auto-check-bill, .btn-send-purchase, .btn-download{
    cursor: pointer;
}

@media screen and (max-width: 990px){
    #form_purchase {
        padding-bottom: 40px;
    }
    .search-center{
        padding-top: 20px;
    }
}